/* ////////////////////////////////////////

Your custom css here

/////////////////////////////////////////*/

/* margin for about page */
.about-btm-margin{
    margin-bottom: 3rem;
}

/* Project cover image */
.bg-img-1 {
    /* The image used */
    background-image: url(../img/miles-redemption/miles-redemption-cover.jpg);
    background-color: #28386B;
    min-height: 520px;

  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }

/* Remove default body margin */
  body { 
    padding: 0; 
}
/* Custom margin for containers */
.body-container{
    margin-top:120px;
}